
<header id="page-top">
    <div class="container">
        <div class="row">
	    <div class="col-md-12">
			<h2>The Student Hub</h2>
	   </div>
	   <div class="col-md-12"></div>
	   <div class="col-md-12">	
            
                            <div class="input-group">
				<%= render "search/search_box" %>
				  
				  <span class="input-group-addon " id="sizing-addon2"><span class="glyphicon glyphicon-ok"></span></span>	
			 </div>
			
				
				
           </div>
	   <div class="hidden-xs">
	      <div class="col-md-2 col-md-offset-1 bordered top-buffer">
			  <div class="col-md-3 col-md-offset-4 top-buffer"><img src="http://www.chegg.com/s/sohp/images/icn-cir-deals-48x48.png"></div>				
			<div class="col-md-12">			  
			<h4>Buy Used and New TextBooks<h4>
			  <h6>Save upto 60% on TextBooks*</h6>
			</div>
			 <div class="col-md-3 col-md-offset-4 top-buffer"><a href="#featured"><img src="http://www.chegg.com/s/sohp/images/icn-cir-arrow-24x24.png"></a></div>				
	      </div>	
	      <div class="col-md-2 col-md-offset-1 bordered top-buffer">
			  <div class="col-md-3 col-md-offset-4 top-buffer"><img src="http://www.chegg.com/s/sohp/images/icn-cir-cheggstudy-48x48.png"></div>				
			<div class="col-md-12">			  
			<h4>Sell your old books at your doorstep!<h4>
			  <h6>And get instant cash*</h6>
			</div>
			 <div class="col-md-3 col-md-offset-4 top-buffer"><img src="http://www.chegg.com/s/sohp/images/icn-cir-arrow-24x24.png"></div>				
	      </div>
	      <div class="col-md-2 col-md-offset-1 bordered top-buffer">
			  <div class="col-md-3 col-md-offset-4 top-buffer"><img src="http://www.chegg.com/s/sohp/images/icn-cir-cheggstudy-48x48.png"></div>				
			<div class="col-md-12">			  
			<h4>Look for the scholarships provided!<h4>
			  <h6>See the scholarships provided Now!</h6>
			</div>
			 <div class="col-md-3 col-md-offset-4 top-buffer"><img src="http://www.chegg.com/s/sohp/images/icn-cir-arrow-24x24.png"></div>				
	      </div>
           </div>
        </div>
    </div>
</header>
<div class="content-wrapper">
    <section class="primary" id="featured">
        <div class="fullwidth">
	    <div class="col-md-12">
			<hr class="blue_up">
		</div>
            <div class="row">
                <div class="halfwhite col-md-12">
		    <div class="top-buffer">
			<div class="col-md-6 col-md-offset-2">
				<div class="col-md-1">
				<img class = "img-responsive" src="http://www.chegg.com/s/sohp/images/icn-cir-deals-48x48.png">
				</div>
				<div class="col-md-7"><h3>FIND CHEAP TEXTBOOKS</h3></div>
				<div class="col-md-12 top-buffer-small">
					<h3>Buy Textbooks at Unbelievable prices!</h3>
					<div class="col-md-6 top-buffer-small">
					<%= render "search/search_box" %>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				Some text here
			</div>
		    </div>
		</div>
		
            </div>
        </div>
    </section>
    <section class="success" id="about">
      <div class="fullwidth">
	    <div class="col-md-12">
			<hr class="blue_up">
		</div>
            <div class="row">
                <div class="halfwhite col-md-12">
		    <div class="top-buffer">
			<div class="col-md-6 col-md-offset-2">
				<div class="col-md-1">
				<img class = "img-responsive" src="http://www.chegg.com/s/sohp/images/icn-cir-deals-48x48.png">
				</div>
				<div class="col-md-7"><h3>SELL TEXTBOOKS</h3></div>
				<div class="col-md-12 top-buffer-small">
					<h3>We buy books at your doorstep!</h3>
					<div class="col-md-6 top-buffer-small">
					<input type="text" class="form-control input-sm" placeholder="Search for books" aria-describedby="sizing-addon1">
					</div>
				</div>
			</div>
			<div class="col-md-3">
				Some text here
			</div>
		    </div>
		</div>
		
            </div>
        </div>
    </section>
    <section class="primary" id="contact">
             <div class="fullwidth">
	    <div class="col-md-12">
			<hr class="blue_up">
		</div>
            <div class="row">
                <div class="halfwhite col-md-12">
		    <div class="top-buffer">
			<div class="col-md-6 col-md-offset-2">
				<div class="col-md-1">
				<img class = "img-responsive" src="http://www.chegg.com/s/sohp/images/icn-cir-deals-48x48.png">
				</div>
				<div class="col-md-7"><h3>SCHOLARSHIPS!</h3></div>
				<div class="col-md-12 top-buffer-small">
					<h3>Look at the scholarships available!</h3>
					<div class="col-md-6 top-buffer-small">
					<input type="text" class="form-control input-sm" placeholder="Search for books" aria-describedby="sizing-addon1">
					</div>
				</div>
			</div>
			<div class="col-md-3">
				Some text here
			</div>
		    </div>
		</div>
		
            </div>
        </div>
    </section>
    <%= render 'layouts/footer' %>
</div>


