<%= form_for order_item, remote: true do |f| %>					      
						<div class="input-group">
						  <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
						  <div class="input-group-btn">
						    <%= f.hidden_field :book_id, value: book.id %>
						    <%= f.submit "Add to Cart", class: "btn btn-primary cart-button",id: "cart-butt", onclick:"cartClicked()" %>
		</div>
	</div>
<% end %>
