.nav_color {
	background-color: #49bfe3;
}
.blue_up {
	display: block; height: 5px;
    border: 0; border-top: 5px solid #49bfe3;
    margin: 0em 0; padding: 0;
}
.halfwhite {
	background-color: rgba(255, 255, 255, 0.5);
	padding-bottom: 20px;
}
.fullwidth {
	width:100%;
}
#featured {
    background-image: url('secondimage.jpg'); 
    padding-top: 0;
}

#about {
    background-image: url('thirdimage.jpg');
    padding-top: 0;
}

#contact {
    background-image: url('fourthimage.jpg');
    padding-top: 0;
}

.top-buffer { margin-top:40px; }
.top-buffer-small { margin-top:20px; }
/* HERE STARTS THE MAGIC */
.bordered {
    outline: 1px solid white;
}

header {
    text-align: center;
    color: #fff;
    background-image: url('firstheader.jpg');

    position: fixed;
    width:100%;
    z-index: 1;
    height: 100%;
    overflow: hidden;
    top: 0;
    
}

.content-wrapper{
    background-color: white;
    top: 100%;
    min-height: 12%;
    position:absolute;
    z-index: 2;
    width: 100%;  
    height: 90%;  
}
/* HERE ENDS THE MAGIC */
header .container {
    padding-top: 150px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

section {
    padding: 100px 0;    
    width: 100%;
    height:  100%;
}

section h2 {
    margin: 0;
    font-size: 3em;
}
hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}


    
section.success{
    background-color: #18bc9c;
    color: #fff;
    }



/* search kaaana css code kanna */
#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }
 
    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }

